:root,
body {
  height: 100%;
}

body {
  background: $bg-color;
  color: $body-color;
}

.action {
  max-width: 22rem;
}

.grid1x1 {
  padding-top: 100%;
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
